<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8">
	<title>Cập nhật</title>

	<link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="css/poly.css">
	<script src="db/Students.js"></script>
	<script src="db/Subjects.js"></script>
	<script src="js/angular.min.js"></script>
	<script src="js/angular-route.js"></script>
	<script src="js/bootstrap.min.js"></script>
	<script src="js/jquery.min.js"></script>
	<style type="text/css">
		.panel-default {
			width: 600px;
		}
	</style>
</head>

<body ng-app="myapp">
	<div class="panel panel-default">
		<div class="panel-heading">
			<div class="panel-title">
				<h2 style="text-align: center;"><b>CẬP NHẬT TÀI KHOẢN</b></h2>
			</div>
		</div>
		<div class="panel-body">
			<form name="frmBonus">
				<div class="form-group col-sm-12">
					<label>Họ tên</label>
					<input class="form-control" ng-model="HoTen" name="hoten" required />
					<span ng-show="frmBonus.hoten.$invalid">Tên đăng nhập không được bỏ trống</span>
				</div>
				<div class="form-group col-sm-12">
					<label>Giới tính</label><br>
					<input type="radio" name="gioitinh" style="cursor: pointer;" /> Nam
					<input type="radio" name="gioitinh" style="margin-left:10px;cursor: pointer;" /> Nữ
					<span ng-show = "frmBonus.gioitinh.$invalid">Vui lòng chọn giới tính </span>
				</div>
				<div class="form-group col-sm-12">
					<label>Ngày sinh</label>
					<input class="form-control" ng-model="ngaySinh" name="ngaySinh"
						pattern="/^(0?[1-9]|1[012])[- /.](0?[1-9]|[12][0-9]|3[01])[- /.](19|20)?[0-9]{2}$/" />
					<span ng-hide="frmBonus.ngaySinh.$invalid">Vui lòng nhập ngày sinh</span>
					
				</div>
				<div class="form-group col-sm-12">
					<label>Quê quán</label>
					<input class="form-control" ng-model="queQuan" name="QueQuan" required />
					<span ng-show="frmBonus.QueQuan.$invalid">Vui lòng nhập quê quán</span>
				</div>
				<div class="form-group col-sm-12">
					<label>Email</label>
					<input class="form-control" ng-model="email " name="email" required type="email" />
					<span ng-show="frmBonus.email.$invalid">Vui lòng nhập Email hợp lệ </span>
				</div>

				<div style="text-align: right;">
					<button type="button" class="btn btn-sm btn-info" onclick="window.location.href='index.html'">Cập
						nhật</button>
					<button type="button" class="btn btn-sm btn-info"
						onclick="window.location.href='index.html'">Hủy</button>
				</div>
			</form>
		</div>
	</div>

	</div>
	<script>
		var app = angular.module("myapp", []);
		app.controller("myctrl", function ($scope) {

		});
	</script>
</body>

</html>